*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
ul{
    list-style: none;
}
.icon-size{
    font-size: 20px;
 
}
.item-list{
    height: 56px;
    background-color: #e1e9e9;
    border-bottom: 1px solid #535353;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.search{
    display: flex;
    flex: 10%;
    justify-content: right;
}
.icon-news-list{
    flex: 40%;
}
.more-list-icon{
    flex: 10%;
}
.space-icon{
    margin: 10px;
}
.search input[type="text"]{
    height: 40px;
    width: 235px;
    border: 1px solid #CCC;
    border-radius: 30px;
}
i.fa-brands.fa-facebook::before{
    color: rgb(0, 110, 255);
}
.list-space-icon{
    display: flex;
    justify-content: space-evenly;

}
.button-icon-top{
    background-color:#e1e9e9;
    border: none;
}
.button-icon-top-right{
    border-radius: 50%;
    border: none;

}
.button-icon-top-right .subnav{
    display: none;
}
.button-icon-top-right .subnav li{
    
    width: 100px;
    height: 22px;
    font-size: 20px;
    background-color: #fff;
    border: 2px solid #535353;
}

.img-avt{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.main-screen{
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
}
.list-app-left{
    flex: 1;
    height: 100%;
    
}
.news-feed{
    flex: 3;
    height: 100%;
}
.list-app-right{
    position: fixed;
    top: 20%;
    right: 20px;
    

}
.test-scroll{
    width: 100%;

}
.list-app-right{
    height: 100%;

}
.list-social{
    display: flex;
    margin: 10px;
}
.name-text{
    margin-left: 10px;
}
.cart-layout{
    position: relative;
    cursor: pointer;
}
.cart-layout:hover .header-cart-list{
    display: block;
}
.header-cart-list{
    position: absolute;
    top: 120%;
    right: 0px;
    background-color: #85c1b7;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 2px 10px #ccc;
    display: none;

}
.header-cart-list::after{
    content: "";
    position: absolute;
    right: -1px;
    top: -35px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #85c1b7 transparent;
}
.header_no-cart-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.header_no-cart-text{
    font-style: italic;
    font-size: 30px;
}
